.faq__wrapper {
	background-color: var(--white);
	padding-inline: var(--padding-mobile-360);
	padding-top: 64px;
	padding-bottom: calc(64px + 95px);
}

.faq__title {
	font-family: Poppins-Bold, sans-serif;
	font-size: 64px;
	padding-bottom: 40px;
	padding-block: 16px;
}

.faq__item {
	border-bottom: 1px solid var(--primary-black);
}

.faq__item:last-child {
	border-bottom: none;
}

.faq__item-summary {
	font-family: Poppins-Medium, sans-serif;
	font-size: 18px;
	line-height: 120%;
	padding-block: 16px;
}

.faq__item-answer {
	padding-bottom: 16px;
	padding-top: 16px;
}

summary {
	list-style: none;
}

summary::-webkit-details-marker {
	display: none;
}

summary::after {
	content: url("../assets/icons/details-opener.svg");
	float: right;
	transition: 0.5s ease-in-out;
	transform: rotate(0deg);
	cursor: pointer;
}

details[open] summary::after {
	content: url("../assets/icons/details-opener.svg");
	transform: rotate(45deg) scale(1.25);
	cursor: pointer;
}

@media (min-width: 361px) and (max-width: 768px) {
	.faq__wrapper {
		padding-inline: var(--padding-mobile-768);
		padding-top: clamp(4rem, 0.4706rem + 15.6863vw, 8rem);
		padding-bottom: calc(128px + 120px);
	}
}

@media (min-width: 769px) {
	.faq__wrapper {
		padding-inline: clamp(4rem, 1.6458rem + 10.463vw, 11.0625rem);
		padding-top: clamp(4rem, 0.4706rem + 15.6863vw, 8rem);
		padding-bottom: calc(128px + 120px);
	}
	
	.faq__items-wrapper {
		width: 100%;
		/*max-width: 1086px;*/
	}
}