.footer {
	background-color: var(--primary-blue);
	color: var(--white);
}

.footer__wrapper {
	display: flex;
	flex-direction: column;
	padding-inline: var(--padding-mobile-360);
	padding-bottom: 40px;
	padding-top: 64px;
}

.footer__nav-wrapper {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 40px;
	grid-row-gap: 24px;
	padding-top: 40px;
}

.footer__nav-title {
	font-family: "Plus Jakarta Sans SemiBold", sans-serif;
	font-size: 20px;
	letter-spacing: 0.4px;
	padding-bottom: 35px;
}

.footer__nav-list-item-link {
	font-family: "Plus Jakarta Sans Medium", sans-serif;
	text-decoration: none;
	color: var(--white);
	line-height: 150%;
	letter-spacing: 0.4px;
	padding-bottom: 25px;
}

br {
	display: none;
}

.footer__copyright-wrapper {
	padding-inline: var(--padding-mobile-360);
	padding-bottom: 64px;
}

.footer__copyright {
	font-family: Poppins-SemiBold, sans-serif;
	line-height: 150%;
	letter-spacing: -0.3px;
}

@media (min-width: 561px) and (max-width: 768px) {
	.footer__wrapper {
		padding-inline: var(--padding-mobile-768);
	}
	
	.footer__nav-wrapper {
		grid-template-columns: repeat(3, minmax(150px, 192px));
		grid-column-gap: 32px;
	}
	
	br {
		display: block;
	}
	
	.footer__copyright-wrapper {
		padding-inline: var(--padding-mobile-768);
		padding-bottom: 59px;
	}
}

@media (min-width: 769px) {
	.footer__wrapper {
		padding-inline: var(--wrapper-offset);
		padding-top: 64px;
		padding-bottom: 76px;
		column-gap: 32px;
	}
	
	.footer__wrapper {
		flex-direction: row;
	}
	
	.footer__logo-wrapper {
		width: 100%;
		max-width: 640px;
	}
	
	.footer__logo img {
		width: 100%;
		max-width: 295px;
		min-width: 175px;
	}
	
	.footer__nav-wrapper {
		grid-template-columns: repeat(3, minmax(150px, 192px));
		grid-column-gap: 32px;
	}
	
	br {
		display: block;
	}
	
	.footer__copyright-wrapper {
		padding-inline: var(--wrapper-offset);
		padding-bottom: 76px;
	}
}