.gallery__heading, .gallery__wrapper {
	padding-inline: var(--padding-mobile-360);
}

.gallery__heading {
	padding-block: 64px 24px;
}

.gallery__heading-title {
	font-family: Poppins-Bold, sans-serif;
	font-size: 32px;
}

.gallery__wrapper,
.gallery_wrapper-1-2,
.gallery_wrapper-3-4,
.gallery_wrapper-3-4-5 {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.gallery__wrapper {
	padding-bottom: 64px;
}

.gallery__item {
	position: relative;
	overflow: hidden;
}

.gallery__item a {
	display: block;
	height: 100%;
}

.gallery__item-img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	display: block;
	border-radius: var(--border-radius);
}

.item-1 {
	height: 220px;
}

.item-2 {
	height: 209px;
}

.item-3 {
	height: 472px;
}

.item-4 {
	height: 637px;
}

.item-5 {
	height: 141px;
}

@media (min-width: 361px) and (max-width: 768px) {
	.gallery__heading, .gallery__wrapper {
		padding-inline: var(--padding-mobile-768);
	}
	
	.gallery__heading {
		padding-block: 128px 24px;
	}
	
	.gallery__heading-title {
		font-size: clamp(2rem, 0.5714rem + 15.2381vw, 4rem);
	}
	
	.gallery__wrapper,
	.gallery_wrapper-1-2,
	.gallery_wrapper-3-4,
	.gallery_wrapper-3-4-5 {
		gap: 24px;
	}
	
	.gallery_wrapper-3-4 {
		flex-direction: row;
		width: 100%;
	}
	
	.item-1 {
		height: 380px;
	}
	
	.item-2 {
		height: 362px;
	}
	
	.item-3 {
		width: 340px;
		height: 425px;
	}
	
	.item-4 {
		width: 340px;
		height: 425px;
	}
	
	.item-5 {
		max-width: 704px;
		height: 225px;
	}
}

@media (min-width: 769px) {
	
	/*.gallery {
		display: flex;
		flex-direction: column;
		align-items: center;
	}*/
	
	.gallery__outer-wrapper {
		width: 100%;
		max-width: 1440px;
		margin: 0 auto;
	}
	
	.gallery__wrapper, .gallery__heading {
		padding-inline: var(--wrapper-offset);
	}
	
	.gallery__wrapper, .gallery_wrapper-3-4 {
		flex-direction: row;
	}
	
	.gallery__wrapper,
	.gallery_wrapper-1-2,
	.gallery_wrapper-3-4,
	.gallery_wrapper-3-4-5 {
		column-gap: 32px;
		row-gap: 24px;
		/*width: 100%;*/
	}
	
	/*.gallery_wrapper-1-2 {
		width: 100%;
		max-width: 776px;
	}*/
	
	.gallery_wrapper-3-4-5, .gallery_wrapper-3-4 {
		width: 100%;
		max-width: 777px;
	}
	
	.item-1 {
		max-width: 528px;
		height: 376px;
	}
	
	.item-2 {
		max-width: 528px;
		height: 376px;
	}
	
	.item-3 {
		max-width: 305px;
		height: 489px;
	}
	
	.item-4 {
		width: 100%;
		max-width: 416px;
		height: 489px;
	}
	
	.item-5 {
		max-width: 753px;
		height: 264px;
	}
	
}



