.site-header__wrapper {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	gap: 10px;
	padding-inline: var(--wrapper-offset);
	padding-block: 32px;
}

.site-logo {
	display: flex;
	align-items: center;
	gap: 15px;
	text-decoration: none;
	color: var(--primary-black);
	font-size: 34px;
}

.site-logo:focus {
	border: var(--focus-border);
	border-radius: var(--border-radius);
	padding: 2px;
	outline: none;
}

.burger-button {
	display: none;
}

.main-nav__list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	column-gap: clamp(1.875rem, 0.5rem + 6.1111vw, 6rem);
	row-gap: 10px;
}

.main-nav__item-link {
	text-decoration: none;
	color: var(--primary-black);
	font-size: clamp(1rem, 0.9167rem + 0.3704vw, 1.25rem);
	text-wrap: nowrap;
	transition: var(--transition);
}

.main-nav__item-link:hover {
	color: var(--primary-blue);
}

.main-nav__item-link:focus {
	color: var(--primary-blue);
	border: var(--focus-border);
	border-radius: var(--border-radius);
	padding: 2px;
	outline: none;
}

.main-nav__item-signup {
	font-family: 'Poppins-SemiBold', sans-serif;
	font-weight: 600;
}