@import "./normalize.css";
@import "./header.css";
@import "./stats.css";
@import "./gallery.css";
@import "./app-stores.css";
@import "./faq.css";
@import "./contact.css";

@font-face {
	font-family: 'Poppins-Regular';
	src: url('../assets/fonts/poppins-regular.woff2');
	font-weight: 400;
}

@font-face {
	font-family: 'Poppins-Medium';
	src: url('../assets/fonts/poppins-medium.woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'Poppins-SemiBold';
	src: url('../assets/fonts/poppins-semibold.woff2');
	font-weight: 600;
}

@font-face {
	font-family: 'Poppins-Bold';
	src: url('../assets/fonts/poppins-bold.woff2');
	font-weight: 700;
}

@font-face {
	font-family: 'Plus Jakarta Sans Medium';
	src: url('../assets/fonts/plusjakartasans-medium.woff2');
	font-weight: 500;
}

@font-face {
	font-family: 'Plus Jakarta Sans SemiBold';
	src: url('../assets/fonts/plusjakartasans-semibold.woff2');
	font-weight: 600;
}

:root {
	--primary-black: #202020;
	--primary-blue: #0578FF;
	--primary-grey: #90A3BF;
	--yellow: #FFC501;
	--white: #FFF;
	
	--border-radius: 10px;
	
	--input-height: 53px;
	
	--transition: 0.2s ease-in-out;
	
	--wrapper-width: 1440px;
	--wrapper-offset: clamp(1.25rem, 0.3333rem + 4.0741vw, 4rem);
	
	--line-height: 140%;
	
	--heading-font: 'Poppins-Bold';
	
	--focus-border: 2px solid #0578FF;
	
	--padding-mobile-360: 20px;
	--padding-mobile-768: 32px;
}

body {
	font-family: 'Poppins-regular', sans-serif;
	font-size: 16px;
	color: var(--primary-black);
}

.three-first-sections {
	background: linear-gradient(#F5F5F5, #DDECFF, #F5F5F5);
}

