.stats {
	background-color: var(--primary-blue);
}

.stats__wrapper {
	padding-block: 30px;
	padding-inline: var(--padding-mobile-360);
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 30px 40px;
	justify-content: space-between;
}

.stats__item {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: var(--white);
}

.stats__value-item {
	font-family: Poppins-Bold, sans-serif;
	font-size: clamp(1rem, -0.0714rem + 11.4286vw, 2.5rem);
}

.stats__title {
	font-family: Poppins-Medium, sans-serif;
	text-wrap: nowrap;
}

@media (min-width: 576px) and (max-width: 992px) {
	.stats__wrapper {
		padding-block: 64px;
		padding-inline: clamp(1.25rem, -4.8713rem + 27.2059vw, 8.1875rem);
	}
	
	.stats__wrapper {
		grid-column-gap: clamp(2.5rem, -2.3529rem + 21.5686vw, 8rem);
	}
	
	.stats__value-item {
		font-size: clamp(2.5rem, 1.9485rem + 2.451vw, 3.125rem);
	}
	
	.stats__title {
		text-wrap: nowrap;
		font-size: clamp(1rem, 0.7794rem + 0.9804vw, 1.25rem);
	}
}

@media (min-width: 993px) {
	.stats__wrapper {
		padding-block: 59.5px;
		padding-inline: var(--wrapper-offset);
		display: grid;
		grid-template-columns: repeat(4, 167px);
		grid-gap: 0;
		justify-content: space-between;
	}
}
